/Vinh/implement/Final/model/model_initializtion/__pycache__/
/Vinh/implement/Final/model/model_inworking/__pycache__/
/Vinh/implement/Final/system/__pycache__/
/Vinh/implement/Final/system/temp_storage/